# dependencies
node_modules/
.pnpm-store/

# build
dist/
build/
.next/
.vite/

# TypeScript
*.tsbuildinfo

# test
coverage/

# env
.env
.env.*
!.env.example

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# AI
.claude
CLAUDE.md
GEMINI.md
AGENTS.md

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Documents
docs/*